<a class="site-identity-hyperlink" aria-current="page"routerLink="/">
<div class="company-identity-container">
    <div class="company-name">Mabunda Group</div>

    <div class="company-contact-container">
      <div class="company-moto">EHS and Engineering Services </div> 
      <div class="company-contact">
        <span class="contact-number"> 
          <i class="fa fa-phone-square"></i> (+27)82 638-4923
        </span> &nbsp; | &nbsp;
        <span class="email-address">
          <i class="fa fa-envelope"></i> Info&#64;mabundagroup.com
        </span>
      </div> 
    </div>
</div> 
</a>

<nav class="navbar navbar-expand-sm">
    <div class="container-fluid">

      <a class="navbar-brand" href="#">
        Menu
      </a>

      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page"routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/services">Our Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/contact">Contact Us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"  routerLink="/faq">FAQ</a>
          </li>
        </ul>
      </div>
    </div>
</nav>




