.page-contant-container {
     
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
        "page-name"
        "page-contant";
    justify-content: center;
    row-gap: 15px; 
}

 //page-name section
.page-content-name {
    background-color: rgba(245,245,245, 0.5);
    border-left: 6px solid red;
    border-radius: 7px;
    grid-area: page-name;
    padding: 9px; 
}

//page content section
.page-contant {

    grid-area: page-contant;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "cards-row"
        "paragraph-row";
        row-gap: 15px;
        justify-content: center;

        //cards section
        .first-row-content {
                background: rgba(245,245,245, 0.5);
                border-radius: 14px;

                grid-area: cards-row;
                display: flex;
                justify-content: space-around;
                gap: 20px;

                .card-container {
                    padding: 10px;
                    width:100%;
                    //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    .card-image {
                        max-width: 100%;
                        min-height: 120px;
                        border-radius: 14px;
                    }

                    .card-title {
                        min-height: 50px;
                        text-align: center;
                        margin-top: 12px;
                    }

                    .card-btn button {
                        display: block;
                        width: 100%;
                        border: none;
                        background-color: orangered;
                        color: white;
                        border-radius: 7px;
                        padding: 5px 28px;
                        font-size: 12px;
                        cursor: pointer;
                        text-align: center;
                    }
            }
        }

        //paragraph section
        .second-row-content {
            background: rgba(245,245,245, 0.5);
            border-radius: 10px;
            grid-area: paragraph-row;
            padding: 15px;

            .paragraph-header {
                margin: 0px 0px 10px 0px;
            }    
        }
}

@media screen and (max-width: 600px) {
    .page-contant {
        row-gap: 2px;
    }

    .first-row-content {
        flex-wrap: wrap;
        padding: 0px;
        
        .card-container  {
            display: none;
        }

        .card-container .card-btn button {
            padding: 12px;
            font-size: 16px;
        }
    }

}







