@use '../abstracts' as *;

/* ====== Services page Grid Layout ====== */
.page-contant-container {
    @include page-content-layout;

 /* page-title section */
    .page-title {
    @include page-title-styles; 
    }

    #services-page-content {
        @include page-content-section;
        grid-template-areas:
        "introduction-row"
        "sa-services-row"
        "mo-services-row";
    }

    .introduction-section, .sa-services-section, .mo-services-section {
      @include text-section;
    }
}

/* page-content-section */
 .introduction-section {
    grid-area: introduction-row;
}

/* page-content-section */
 .sa-services-section {
    grid-area: sa-services-row; 
}

 /* page-content-section */
 .mo-services-section {
    grid-area: mo-services-row; 
}

.accordion{
    padding-bottom: 1px;
    .inner-header, .outer-header, ul {
        color: $global-font-color;
    }
}

.inner-accordion {
    margin: 0px;
    padding-left: 0px;
}

.accordion-item {
    border: none;
}

.accordion-body {
    margin: 0px 5px 0px 0px;
    padding: 0px 0px 0px 5px;
}

.outer-header {
    padding: 10px;
    font-weight: bold;
    border: 1px solid lightgrey;
    background-color: #f8f9fa;

    &:not(.collapsed) {
        box-shadow: none;
        background-color: #f8f9fa;
        border: 1px solid lightgrey;
    }

    &:focus {
        box-shadow: none;
        background-color: #f8f9fa;
        border: 1px solid lightgrey;
    }
}

.inner-header {
    padding: 5px 5px 5px 12px;
    border-bottom: 1px solid rgba(245,245,245, 1);
    font-size: $global-font-size;

    &:not(.collapsed) {
        box-shadow: none;
        background-color: #f8f9fa;
        border: 1px solid rgba(245,245,245, 1);
    }

    &:focus {
        box-shadow: none;
        background-color: #f8f9fa;
        border: 1px solid rgba(245,245,245, 1);
    }
}

/* ====== Services Responsive Design Section ====== */

 /* Views on different screen sizes */
@media screen and (max-width: 599px) {
    /* paragraph - page content section - mobile mode*/
    .page-contant .paragraph-row-content {
        margin-bottom: 0px;
    }
}








