<div class="sidebar">

    <div class="sidebar-title">
            {{title | uppercase}}
    </div>
    
    <div class=" sidebar-item sidebar-contact">
        <div class="sidebar-item-title">
            <i class="fa fa-phone" aria-hidden="true"> </i>  
            CONTACT DETAILS
        </div>
        <ul>
            <li>(+27)82 638-4923</li>
            <li>martin&#64;mabundagroup.com</li>
            <li>(+258)84 065-7493</li>
            <li>yaner&#64;mabundagroup.com</li>
        </ul>
    </div>

    <div class="sidebar-item sidebar-address">
    <div class="sidebar-item-title"> <i class="fa fa-map-marker" aria-hidden="true"> </i> PHYSICAL ADDRESS</div>
        <ul>
            <li>6876 Dijon Street</li>
            <li>Lotus Gardens</li>
            <li>Pretoria (ZA)</li>
            <li>0008</li>
        </ul>
    </div>

    <div class="sidebar-item sidebar-social-links">
        <div class="sidebar-item-title">
            <i class="fa fa-share-alt" aria-hidden="true"></i>  
            OTHER ITEMS
        </div>
        
        <div class="socila-icons">
            <ul>
                <li><a class="content-hyperlinks" routerLink="/services">Recent Projects</a></li>
                <li><a class="content-hyperlinks" routerLink="/services">FAQ</a></li>
            </ul>
                <!-- <i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i>
                <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i> 
                <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                <i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i> -->
        </div>
    </div>
</div>
