<div class="page-contant-container">

    <div class="page-title"> 
        {{title | uppercase}}
    </div>

    <div class="page-contant" id="faq-page-content">

        <div class="introduction-section">
            <div class="paragraph">
                We are an EHS & Engineering company that operates internationally. We currently have our branches located in South Africa and in Mozambique.
            </div>
        </div>

        <div class="faq-section">
            <div class="accordion inner-accordion" id="accordionFirstInnerPanel">                            
     
                <div class="accordion-item ">
                    <h2 class="sub-heading-container" id="firstInnerPanel-headingOne">
                        <button class="accordion-button inner-header collapsed" 
                            type="button" 
                            data-bs-toggle="collapse"
                            data-bs-target="#firstInnerPanel-collapseOne" 
                            aria-expanded="false"
                            aria-controls="firstInnerPanel-collapseOne">
                            
                            <i class="fa fa-question-circle" aria-hidden="true"></i> &nbsp; What kind of services do you specialize on.
                        </button>
                    </h2>
                    <div id="firstInnerPanel-collapseOne" 
                         class="accordion-collapse collapse" 
                         aria-labelledby="firstInnerPanel-headingOne" 
                         data-bs-parent="#accordionFirstInnerPanel">
                            <div class="accordion-body inner-content">
                                <ul>
                                    <li>
                                        Please use any of our communication channels (calls, whatsapp, email, e.t.c) to contant us, and one of our consultants will assist you.
                                    </li>                          
                                </ul>
                            </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="" id="firstInnerPanel-headingTwo">
                        <button class="accordion-button inner-header collapsed" 
                            type="button" 
                            data-bs-toggle="collapse"
                            data-bs-target="#firstInnerPanel-collapseTwo" 
                            aria-expanded="false"
                            aria-controls="firstInnerPanel-collapseTwo">
                            <i class="fa fa-question-circle" aria-hidden="true"></i> &nbsp; How do I contact you for service request.
                        </button>
                    </h2>
                    <div id="firstInnerPanel-collapseTwo" class="accordion-collapse collapse" aria-labelledby="firstInnerPanel-headingTwo"  data-bs-parent="#accordionFirstInnerPanel">
                        <div class="accordion-body">
                            <ul>
                                <li>
                                    Please use any of our communication channels (calls, whatsapp, email, e.t.c) to contant us, and one of our consultants will assist you.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="" id="firstInnerPanel-headingThree">
                        <button class="accordion-button inner-header collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#firstInnerPanel-collapseThree" aria-expanded="false"
                            aria-controls="firstInnerPanel-collapseThree">
                            <i class="fa fa-question-circle" aria-hidden="true"></i> &nbsp; How long does it take to process a service request.
                        </button>
                    </h2>
                    <div id="firstInnerPanel-collapseThree" class="accordion-collapse collapse" aria-labelledby="firstInnerPanel-headingThree"
                        data-bs-parent="#accordionFirstInnerPanel">
                        <div class="accordion-body">
                            <ul>
                                <li>
                                    Please use any of our communication channels (calls, whatsapp, email, e.t.c) to contant us, and one of our consultants will assist you.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="" id="firstInnerPanel-headingFour">
                        <button class="accordion-button inner-header collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#firstInnerPanel-collapseFour" aria-expanded="false"
                            aria-controls="firstInnerPanel-collapseFour">
                            <i class="fa fa-question-circle" aria-hidden="true"></i> &nbsp; Any required documents, as a preliminary step.
                        </button>
                    </h2>
                    <div id="firstInnerPanel-collapseFour" class="accordion-collapse collapse"
                        aria-labelledby="firstInnerPanel-headingFour" data-bs-parent="#accordionFirstInnerPanel">
                        <div class="accordion-body">
                            <ul>
                                <li>
                                    Please use any of our communication channels (calls, whatsapp, email, e.t.c) to contant us, and one of our consultants will assist you.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="" id="firstInnerPanel-headingFive">
                        <button class="accordion-button inner-header collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#firstInnerPanel-collapseFive" aria-expanded="false"
                            aria-controls="firstInnerPanel-collapseFive">
                            <i class="fa fa-question-circle" aria-hidden="true"></i> &nbsp; Any cost implications involved in service request process.
                        </button>
                    </h2>
                    <div id="firstInnerPanel-collapseFive" class="accordion-collapse collapse"
                        aria-labelledby="firstInnerPanel-headingFive" data-bs-parent="#accordionFirstInnerPanel">
                        <div class="accordion-body">
                            <ul>
                                <li>
                                    Please use any of our communication channels (calls, whatsapp, email, e.t.c) to contant us, and one of our consultants will assist you.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="" id="firstInnerPanel-headingSix">
                        <button class="accordion-button inner-header collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#firstInnerPanel-collapseSix" aria-expanded="false"
                            aria-controls="firstInnerPanel-collapseSix">
                            <i class="fa fa-question-circle" aria-hidden="true"></i> &nbsp; How do I make payments.
                        </button>
                    </h2>
                    <div id="firstInnerPanel-collapseSix" class="accordion-collapse collapse"
                        aria-labelledby="firstInnerPanel-headingSix" data-bs-parent="#accordionFirstInnerPanel">
                        <div class="accordion-body">
                            <ul>
                                <li>
                                    Please use any of our communication channels (calls, whatsapp, email, e.t.c) to contant us, and one of our consultants will assist you.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="" id="firstInnerPanel-heading7">
                        <button class="accordion-button inner-header collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#firstInnerPanel-collapse7" aria-expanded="false"
                            aria-controls="firstInnerPanel-collapse7">
                            <i class="fa fa-question-circle" aria-hidden="true"></i> &nbsp; Should I not receive the service, can I claim back the money.
                        </button>
                    </h2>
                    <div id="firstInnerPanel-collapse7" class="accordion-collapse collapse"
                        aria-labelledby="firstInnerPanel-heading7" data-bs-parent="#accordionFirstInnerPanel">
                        <div class="accordion-body">
                            <ul>
                                <li>
                                    Please use any of our communication channels (calls, whatsapp, email, e.t.c) to contant us, and one of our consultants will assist you.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="" id="firstInnerPanel-heading8">
                        <button class="accordion-button inner-header collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#firstInnerPanel-collapse8" aria-expanded="false"
                            aria-controls="firstInnerPanel-collapse8">
                            <i class="fa fa-question-circle" aria-hidden="true"></i> &nbsp; Where do I forward my compplains.
                        </button>
                    </h2>
                    <div id="firstInnerPanel-collapse8" class="accordion-collapse collapse"
                        aria-labelledby="firstInnerPanel-heading8" data-bs-parent="#accordionFirstInnerPanel">
                        <div class="accordion-body">
                            <ul>
                                <li>
                                    Please use any of our communication channels (calls, whatsapp, email, e.t.c) to contant us, and one of our consultants will assist you.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>      
    </div>
</div>
