@use './variables' as *;

/* Page content Grid Layout */
@mixin page-content-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
                        "page-name"
                        "page-contant";
    justify-content: center;
    row-gap: $global-gap;
    
}

/* page-title and sidebar styles */
@mixin page-title-styles {
    grid-area: page-name;
    border-left: 6px solid red;
    padding: 8px; 
}

/* page-content-section */
@mixin page-content-section {
    grid-area: page-contant;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    gap: $global-gap;
}

/* page-content-paragraph */
@mixin text-section {
    padding: 10px;
    background: rgba(245,245,245, 0.5);

    .section-header {
        margin-bottom: 10px;
    }
    .paragraph {
        padding-left: 10px;
        border-left: 5px solid lightgrey;
    }
}

/* form */
@mixin page-content-form {
    /* form and its elements */
    form {
        .form-group {
            margin: 0px 0 10px 0;

            input::placeholder, textarea::placeholder {
                font-size: $form-placeholder-size;
                color: $form-placeholder-color;
            } 

            .form-validation-error-message {
                color:$error-message-color;
            }

            .btn {
                margin-right: 15px;
                border-radius: 0px;
                font-size: $global-font-size - 4;;
                padding: 4px 25px 3px 25px;

            }

            .submit-button {
                background-color: red;
                color: #fff;
                &:hover {
                    background-color: orange;
                }
            }

            .clear-btn {
                background-color: grey;
                color: #fff;
                &:hover {
                    background-color: orange;
                }
            }


        }
    }  
}




