/* global font size */
$global-font-size: 14px;

/* global font color */
$global-font-color: gray;

/* global border radius */
$global-border-radius: 6px;

/* global Layouts gaps */
$global-gap: 10px;

/* global background color variables */
$global-bg-color: rgba(245,245,245, 0.5);