<div class="page-contant-container">

    <div class="page-title"> 
        {{title | uppercase}}
    </div>

    <div class="page-contant" id="pagenotfound-page-content">
        <div class="not-found-message-section">
            <div class="section-header">MESSAGE</div>
            <div class="paragraph">
                <p> Sorry, the resource you are looking for could not be found.
              You may try the following options to resolve this issue:</p>
              <ul>
                <li>Make sure that your device is connected to the internet</li>
                <li>Make sure that you typed correct spelling</li>
                <li>Make sure that your browser is updated</li>
              </ul>
              Or contact the System Administrator for further assistance.<br/>
              <a class="btn content-hyperlink"  routerLink="/contact"> CONTACT </a>
            </div>
        </div>
    </div>
</div>

