/* ====== MasterPage Grid Layout ====== */

.master-page-grid { 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr auto 1fr;
    grid-template-areas: 
                        "navbar"
                        "header"
                        "main"
                        "sidebar"
                        "footer"; 

    justify-content: center;
    height: 0vh;
    margin: auto;
    max-width: 900px;
}

/*  Navbar Grid Area */
.navbar-container {
    grid-area: navbar;
}

/*  Header Grid Area */
.header-container {
    grid-area: header;
    padding: 15px;
    display: grid;

    background-image: url("../../assets/images/bg/24.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*  Page main-content area */
.page-main-contant {
    grid-area: main; 
    background-color: #fff; 
    padding: 16px 16px 0px 16px;
 }

/*   Sidebar Grid Area */
.sidebar-container {
    grid-area: sidebar;
    background-color: #fff; 
    padding: 4px 16px 0px 16px;
}

/*   Footer Grid Area */
.footer-container {
    grid-area: footer;
    padding: 14px;
}

/* ====== MasterPage Responsive Design Section ====== */

/*  iPads, Tablets */
@media screen and (min-width: 600px) and (max-width: 767px) {
    .sidebar-container {
        padding:16px;
    }
}

/*  Medium screens, laptops */
@media screen and (min-width: 760px){
    .header-container{
        grid-template-columns: 1fr 1fr;
    }

    .sidebar-container {
        padding:16px;
    }
}

/*   Medium screens, laptops  */
@media screen and (min-width: 768px){

   /*  Large screens - Grid Layout areas */
    .master-page-grid { 
        grid-template-areas: 
                            "navbar navbar"
                            "header header"
                            "main sidebar"
                            "footer footer";  

    } 
}

