.master-page-grid { 
    background-color: #f1f1f1; 
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 0fr 0fr 1fr auto 1fr;
    grid-template-areas: 
        "navbar navbar"
        "header header"
        "main sidebar"
        "footer footer";  
    justify-content: center;
    height: 100vh;
    gap: 15px; 
    margin: auto;
    max-width: 900px;
}

//navbar grid area
.navbar-container {
    grid-area: navbar;
    background-color: #fff; 
}

//header grid area
.header-container {
    background: rgba(76, 175, 80, 0.7);
    background-image: url("../../assets/images/bg/3.jpg");
    background-size:cover;
    background-position: 100%;

    grid-area: header;
    background-color: #fff; 
    padding: 15px;
    display: flex;
}

.page-main-contant {
    grid-area: main; 
    background-color: #fff; 
    padding: 15px;
 }

.sidebar-container {
    grid-area: sidebar;
    background-color: #fff; 
    padding: 15px;
}

.footer-container {
    grid-area: footer;
    background-color: #fff; 
    padding: 15px;
}

@media screen and (max-width: 600px) {

    .master-page-grid { 
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0fr 0fr 1fr auto 1fr 1fr;
        grid-template-areas: 
            "navbar"
            "header "
            "main "
            "sidebar"
            "footer";  
        // grid-template-columns: minmax(auto, 900px);
        justify-content: center;
        height: 100vh;
        gap: 15px; 
        padding: 0;
        margin: auto;
        max-width: 900px;
    } 
  }