.company-identity-container {
    display: grid;
    grid-row: 2;
    padding: 15px;
    color: #333;
}

.company-contact-container {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.company-name {
    font-size: 18px;
    font-weight: bold;
}

.company-moto {
    font-size: 14px;
    color: brown;
}

.company-contact {
    font-size: 14px;
    color: red;
}

// .contact-number {
//     font-size: 14px;
// }

.navbar {
    background-color: #333;
    a {
        color: gray;
    }
    a:hover {
        color: #fff;
    }
    a:focus {
        color: red;
    }
}


@media screen and (max-width: 400px) {
    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(128,128,128, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    
    .custom-toggler.navbar-toggler {
    border-color: none;
    } 

    .nav-item {
        border-bottom: 1px solid gray;
    }
}

@media screen and (min-width: 900px) {
    .navbar-brand {
        display: none;
    }
}

