<div class="page-contant-container">
    <div class="page-title"> 
        {{title | uppercase}}
    </div>
    <div class="page-contant">

        <div class="paragraph-row-content">

            <div class="section-header">WE ARE EHS SPECIALISTS</div>
            <img src="/assets/images/featured/10.jpg" class="paragraph-img"  id="paragraph-img"/>
                Mabunda Group Pty. Ltd is the EHS consulting company, geared to assist the clients to comply with OHS, 
                Environmental, Food Safety and other applicable legislation and to empower 
                all interested and affected stakeholders.
        </div>
    </div>
</div>
