<div class="page-contant-container">

    <div class="page-title"> 
        {{title | uppercase}}
    </div>

    <div class="page-contant" id="about-page-content">
        <div class="background-section">
            <div class="section-header">BACKGROUND</div>
            <!-- <img src="/assets/images/featured/10.jpg" class="paragraph-img"  id="paragraph-img"/> -->
            <div class="paragraph">
                Mabunda Group Pty. Ltd is the EHS consulting company, the addresses core EHS, Construction Health and Safety and Food Safety issues with all client’s employees at all levels and preferably at the language that they understand well.
            </div>
        </div>

        <div class="mission-section">
            <div class="section-header">OUR MISSION</div>
            <!-- <img src="/assets/images/featured/10.jpg" class="paragraph-img"  id="paragraph-img"/> -->
            <div class="paragraph">
                Our aim is to promote a health and safe working environment in an inclusive- consultative approach at all spheres of management, all employees and interested or affected parties.

Knowledge and information is shared at the workplace to ensure continual improvement as required by International Standards. We aspire to be the preferred EHS, CHS and Food Safety Consultancy in industry.
            </div>
        </div>

        <div class="objectives-section">
            <div class="section-header">OUR OBJECTIVES</div>
            <!-- <img src="/assets/images/featured/10.jpg" class="paragraph-img"  id="paragraph-img"/> -->
           <div class="paragraph">
            Facilitate the Risk Assessment process. Facilitate EHS Management Systems. Facilitate Environmental Health and Safety and Food Safety training.
            Facilitate hands on practical solutions to the clients’ EHS, CHS and Food Safety challenges.
            Providing professional advice to the convenience of the clients.
                       
        </div>

    </div>
</div>
