<div class="master-page-grid">
    <div class="navbar-container ">
        <layout-nav-bar></layout-nav-bar>
    </div>

    <div class="header-container">
        <layout-header></layout-header>
    </div>

    <div class="page-main-contant">
        <router-outlet></router-outlet>
    </div>

    <div class="sidebar-container">
        <layout-side-bar></layout-side-bar>
    </div>
    
    <div class="footer-container bg-dark">
        <layout-footer></layout-footer>
    </div>
</div>

        
