<div class="page-contant-container">
    <div class="page-content-name bg-light"> 
        <span> WELCOME </span> 
    </div>
    <div class="page-contant">
        <div class="first-row-content">
            <div class="card-container" id="left-side-card">
                <img src="/assets/images/featured/17.jpg" class="card-image"/>
                <div class="card-title">
                    Environmental Health Services
                </div>
                <!-- <div class="card-description">
                    We do audits and Trainings for Food Safety for various sectors, ranging from private to public.
                </div>   -->

                <div class="card-btn">
                    <button>more</button>
                </div>
            </div> 

            <div class="card-container" id="left-side-card">
                <img src="/assets/images/featured/11.jpg" class="card-image"/>
                <div class="card-title">
                    Environmental Safety Services
                </div>
                <!-- <div class="card-description">
                    We also assist our clients to comply with the Construction Health and Safety legislation.
                </div> -->

                <div class="card-btn">
                    <button>more</button>
                </div>
            </div> 

            <div class="card-container" id="left-side-card">
                <img src="/assets/images/featured/13.jpg" class="card-image"/>
                <div class="card-title">
                    Engineering Services
                </div>
                <!-- <div class="card-description">
                    We also provide engineering services such as electrical, telecommunication and fire.
                </div> -->

                <div class="card-btn">
                    <button>more</button>
                </div>
            </div> 
        </div>
        <div class="second-row-content">
            <div class="paragraph-header"><span><b>WHO ARE WE?</b></span></div>

            Mabunda Group Pty. Ltd is the EHS consulting company, geared to assist the clients to comply with OHS, Environmental, Food Safety and other applicable legislation and to empower all interested and affected stakeholders.
        </div>
    </div>
</div>

