<div class="page-contant-container">
    <div class="page-content-name bg-light"> 
        <span> WELCOME </span> 
    </div>
    <div class="page-contant">
        <div class="first-row-content">

            <div class="card-container" id="left-side-card">
                <img src="/assets/images/featured/17.jpg" class="card-image"/>
                <div class="card-title">
                    Environmental Health Services
                </div>
                <div class="card-btn">
                    <button>READ MORE</button>
                </div>
            </div> 

            <div class="card-container" id="left-side-card">
                <img src="/assets/images/featured/2.jpg" class="card-image"/>
                <div class="card-title">
                    Environmental Safety Services
                </div>
                <div class="card-btn">
                    <button>READ MORE</button>
                </div>
            </div> 

            <div class="card-container" id="left-side-card">
                <img src="/assets/images/featured/13.jpg" class="card-image"/>
                <div class="card-title">
                    Engineering Services
                </div>
                <div class="card-btn">
                    <button>READ MORE</button>
                </div>
            </div> 
        </div>
        <div class="second-row-content">
            <div class="paragraph-header">YOUR EHS SPECIALIST</div>
            Mabunda Group Pty. Ltd is the EHS consulting company, geared to assist the clients to comply with OHS, Environmental, Food Safety and other applicable legislation and to empower all interested and affected stakeholders.
        </div>
    </div>
</div>

