<div class="page-contant-container">

    <div class="page-title"> 
        {{title | uppercase}}
    </div>

    <div class="page-contant" id="services-page-content">

        <div class="introduction-section">
            <div class="paragraph">
                We are an EHS & Engineering company that operates internationally. We currently have our branches located in South Africa and in Mozambique.</div>
        </div>

        <div class="sa-services-section">
             <div class="">
                <div class="accordion outer-accordion accordion-flush" id="accordionExample">
                    
                    <div class="accordion-item">
                        <h2 class="" id="headingOne">
                            <button class="accordion-button outer-header" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; SOUTH AFRICA
                            </button>
                        </h2>

                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            
                            <div class="accordion-body outer-body">

                                <div class="accordion inner-accordion" id="accordionFirstInnerPanel">                            
     
                                    <div class="accordion-item ">
                                        <h2 class="sub-heading-container" id="firstInnerPanel-headingOne">
                                            <button class="accordion-button inner-header collapsed" 
                                                type="button" 
                                                data-bs-toggle="collapse"
                                                data-bs-target="#firstInnerPanel-collapseOne" 
                                                aria-expanded="false"
                                                aria-controls="firstInnerPanel-collapseOne">
                                                <i class="fa fa-square-o" aria-hidden="true"></i> &nbsp;
                                                Environmental Health and Safety (EHS)
                                            </button>
                                        </h2>
                                        <div id="firstInnerPanel-collapseOne" 
                                             class="accordion-collapse collapse" 
                                             aria-labelledby="firstInnerPanel-headingOne" 
                                             data-bs-parent="#accordionFirstInnerPanel">
                                                <div class="accordion-body inner-content">
                                                    <ul>
                                                        <li>
                                                            Assit with compliance to the Occupational Health and Safety (OHS).
                                                        <li>
                                                            Assist in gap analysis at the offices, other plants and business units for the organization.
                                                        </li>
                                                        <li>
                                                            Setting up an OHS systems.
                                                        </li>
                                                        <li>
                                                            Assistance with the line items for the EHS budget for the organization.
                                                        </li>
                                                    </ul>
                                                </div>
                                        </div>
                                    </div>

                                    <div class="accordion-item">
                                        <h2 class="" id="firstInnerPanel-headingTwo">
                                            <button class="accordion-button inner-header collapsed" 
                                                type="button" 
                                                data-bs-toggle="collapse"
                                                data-bs-target="#firstInnerPanel-collapseTwo" 
                                                aria-expanded="false"
                                                aria-controls="firstInnerPanel-collapseTwo">
                                                <i class="fa fa-square-o" aria-hidden="true"></i> &nbsp;
                                                Construction Health and Safety (CHS)
                                            </button>
                                        </h2>
                                        <div id="firstInnerPanel-collapseTwo" class="accordion-collapse collapse" aria-labelledby="firstInnerPanel-headingTwo"  data-bs-parent="#accordionFirstInnerPanel">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>
                                                        Compilation of OHS files.
                                                    <li>
                                                        Assist with the OHS portion for the tenders.
                                                    </li>
                                                    <li>
                                                        Contractor audits.
                                                    </li>
                                                    <li>
                                                        Compile Baseline Risk Assessment.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="accordion-item">
                                        <h2 class="" id="firstInnerPanel-headingThree">
                                            <button class="accordion-button inner-header collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#firstInnerPanel-collapseThree" aria-expanded="false"
                                                aria-controls="firstInnerPanel-collapseThree">
                                                <i class="fa fa-square-o" aria-hidden="true"></i> &nbsp;
                                                Food Safety Services
                                            </button>
                                        </h2>
                                        <div id="firstInnerPanel-collapseThree" class="accordion-collapse collapse" aria-labelledby="firstInnerPanel-headingThree"
                                            data-bs-parent="#accordionFirstInnerPanel">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>
                                                        Food Safety audits..
                                                    <li>
                                                        Inhouse Food Safety Training..
                                                    </li>
                                                    <li>
                                                        Compiling of Food Safety Procedures.
                                                    </li>
                                                    <li>
                                                        Food Safety Systems Implementation (HACCP and ISO 22000).
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="accordion-item">
                                        <h2 class="" id="firstInnerPanel-headingFour">
                                            <button class="accordion-button inner-header collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#firstInnerPanel-collapseFour" aria-expanded="false"
                                                aria-controls="firstInnerPanel-collapseFour">
                                                <i class="fa fa-square-o" aria-hidden="true"></i> &nbsp;
                                                EHS Training Services
                                            </button>
                                        </h2>
                                        <div id="firstInnerPanel-collapseFour" class="accordion-collapse collapse"
                                            aria-labelledby="firstInnerPanel-headingFour" data-bs-parent="#accordionFirstInnerPanel">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>
                                                        Hazard Identification Risk Assessment.
                                                    <li>
                                                        Legal Liability.
                                                    </li>
                                                    <li>
                                                        SHE rep training.
                                                    </li>
                                                    <li>
                                                        Emergency preparedness.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>                
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="" id="headingTwo">
                            <button class="accordion-button outer-header collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp;
                                MOZAMBIQUE
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body outer-body">
                                <div class="accordion inner-accordion" id="accordionSecondInnerPanel">
                                
                                    <div class="accordion-item ">
                                        <h2 class="" id="secondtInnerPanel-headingOne">
                                            <button class="accordion-button inner-header collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#secondtInnerPanel-collapseOne" aria-expanded="false"
                                                aria-controls="secondtInnerPanel-collapseOne">
                                                <i class="fa fa-square-o" aria-hidden="true"></i> &nbsp;
                                                Environmental Health and Safety (EHS)
                                            </button>
                                        </h2>
                                        <div id="secondtInnerPanel-collapseOne" class="accordion-collapse collapse"
                                            aria-labelledby="secondtInnerPanel-headingOne" data-bs-parent="#accordionSecondInnerPanel">
                                            <div class="accordion-body inner-content">
                                                <ul>
                                                    <li>
                                                        Assit with compliance to the Occupational Health and Safety (OHS).
                                                    <li>
                                                        Assist in gap analysis at the offices, other plants and business units for the organization.
                                                    </li>
                                                    <li>
                                                        Setting up an OHS systems.
                                                    </li>
                                                    <li>
                                                        Assistance with the line items for the EHS budget for the organization.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="" id="secondtInnerPanel-headingTwo">
                                            <button class="accordion-button inner-header collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#secondtInnerPanel-collapseTwo" aria-expanded="false"
                                                aria-controls="secondtInnerPanel-collapseTwo">
                                                <i class="fa fa-square-o" aria-hidden="true"></i> &nbsp;
                                                Engineering (Electrical & Electronics)
                                            </button>
                                        </h2>
                                        <div id="secondtInnerPanel-collapseTwo" class="accordion-collapse collapse"
                                            aria-labelledby="secondtInnerPanel-headingTwo" data-bs-parent="#accordionSecondInnerPanel">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>
                                                        Electrical installations in buildings, factories and industries..
                                                    <li>
                                                        Installations and maintenance of solar systems, generators, and UPS.
                                                    </li>
                                                    <li>
                                                        Electrical gate motor and garage doors installations
                                                    </li>
                                                    <li>
                                                        Installations and maintenance of Biometric system and Surveillance camera.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="accordion-item">
                                        <h2 class="" id="secondtInnerPanel-headingThree">
                                            <button class="accordion-button inner-header collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#secondtInnerPanel-collapseThree" aria-expanded="false"
                                                aria-controls="secondtInnerPanel-collapseThree">
                                                <i class="fa fa-square-o" aria-hidden="true"></i> &nbsp;
                                                Telecommunications
                                            </button>
                                        </h2>
                                        <div id="secondtInnerPanel-collapseThree" class="accordion-collapse collapse"
                                            aria-labelledby="secondtInnerPanel-headingThree" data-bs-parent="#accordionSecondInnerPanel">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>
                                                        BTS installations and systems configurations.
                                                    <li>
                                                        Fibre systems installations.
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="accordion-item">
                                        <h2 class="" id="secondtInnerPanel-headingFour">
                                            <button class="accordion-button inner-header collapsed" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#secondtInnerPanel-collapseFour" aria-expanded="false"
                                                aria-controls="secondtInnerPanel-collapseFour">
                                                <i class="fa fa-square-o" aria-hidden="true"></i> &nbsp;
                                                Fire Services and Trainings
                                            </button>
                                        </h2>
                                        <div id="secondtInnerPanel-collapseFour" class="accordion-collapse collapse"
                                            aria-labelledby="secondtInnerPanel-headingFour" data-bs-parent="#accordionSecondInnerPanel">
                                            <div class="accordion-body">
                                                <ul>
                                                    <li>
                                                 
                                                        Configuration systems.
                                                        
                                                    <li>
                                                        Fire fighter services.
                                                        
                                                    </li>
                                                    <li>
                                                        Fire extinguisher sales and servicing.
                                                        
                                                    </li>
                                                    <li>
                                                        Supply of fire engines.
                                                        
                                                    </li>
                                                    <li>
                                                    Provision of fire fighter personnel.
                                                    </li>
                                                    <li>Install and maintain hose reels and sprinkler systems.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>

</div>
